:root {
  --app-color-darker: #3d39b4;
  --app-color: #7b78d4;
  --app-color-lighter: #8986cf;
  --app-color-lightest: #e8e7f8;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 1.1rem;
}

/* Navbar */

.appHeadingWrapper {
  /* background: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.appHeading {
  display: flex;
  flex-direction: row;
  /* background: yellowgreen; */
}

.appHeadingGraphics {
  align-self: center;
  flex: 1;
}

.appHeadingName {
  flex: 7;
}

nav {
  display: flex;
  padding: 0;
  background: var(--app-color);
}

nav h1 {
  text-align: right;
}

nav section {
  width: 100%;
}

nav section h1,
nav section {
  color: white;
}

nav a,
nav a:active {
  font-weight: 700;
  padding: 0.25rem 1.5rem;
  border-radius: 4px;
  color: white !important;
  background: var(--app-color-darker);
}

nav a:first-of-type {
  margin-left: -1.5rem;
}

nav a:hover {
  color: white;
  background: var(--app-color-lighter);
}

.navContent {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.navLinks {
  display: flex;
  flex: 1;
  /* flex: 1; */
  /* flex-direction: column; */
}

.navMain {
  display: flex;
  flex: 3;
  justify-content: flex-start;
}

.navProfile {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navProfile a {
  background: var(--app-color);
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  /* border-style: solid; */
  /* border-width: 1px; */
  /* flex-direction: column;
  /* margin-left: 50px; */
  /* justify-content: space-between; */
}

/* .navProfileImg {
  margin: 50px;
} */


.navProfile a:hover {
  color: black;
  background: var(--app-color-lighter);
}

.navLinks a {
  margin-left: 5px;
}


.navLinks a .badge {
  margin-left: 5px;
  position: relative;
  top: -3px;
}

/* .badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #212529;
  background-color: #f8f9fa;
} */

.navLinks :first-child {
  margin-left: 0;
}

/* Main content */

section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  /*  */
  padding: 0 1.5rem;
}

section h1 {
  font-size: 3rem;
}

section.login, section.signup{
  margin-top: 1rem;
}

section.signup h3 {
  margin-top: 1rem;
}

.roleMultiSelect {
  margin-bottom: 1rem;
}

.loginForm {
  width: 40%;
}
/* section.login { */
  /* width: 20%; */
  /* float: left; */
/* } */


/* User profile */

section.profile {
  margin-top: 1rem;
}

.userProfileWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.userProfileBox {
  /* align-items: center; */
  display: flex;
  order: 1;
  flex-direction: column;
  /* flex-grow: 0; */
  /* flex: 1.5; */
  align-items: center;
  border: #001550;
  border-width: 1px;
  border-radius: 20px;
  border-style: solid;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  justify-content: stretch;
  /* background: yellow; */
}

.userProfileBoxContent {
  display: flex;
  flex-direction: row;
  flex: 3;
}

.userProfileColumn {
  /* flex: 2; */
  /* background: green; */
  flex-basis: auto;
  padding: 1rem;
}

.userProfileColumnValues {
  /* flex: 3; */
  font-weight: bold;
  flex-basis: auto;
  padding: 1rem;
  /* background: greenyellow; */
}

.userProfileSignout {
  flex: 1;
  justify-content: flex-end;
}
/* 
.userProfileColumnButton {
  flex: 3;
} */


.userProfileStats {
  /* flex: 1; */
  /* flex-grow: 1; */
  /* width: 50%; */
  display: flex;
  /* background: yellow; */
  flex-direction: column;
  /* padding: 1rem; */
  border: #001550;
  border-width: 1px;
  border-radius: 20px;
  border-style: solid;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  background: var(--app-color-lightest);
  /* color: white; */
}

.userProfileHistoryHeading {
  flex: 1;
  /* background: yellow; */
  /* background-color: #001cbb; */
}

.userProfileHistoryHeading hr {
  border-color: black;
}

.userProfileHistoryValues {
  /* flex: 3; */
  /* background: green; */
  display: flex;
  flex-direction: row;
  
  /* align-self: flex-end; */
}

.userProfileHistoryValueCaptions {
  flex: 3;
  /* background: blue; */
  align-self: flex-end;
  flex-basis: auto;
  padding-left: 2rem;
  padding-right: 1rem;
  /* padding-top: 0.5rem; */
  /* flex-grow: auto; */
}

.userProfileHistoryDetailedValues {
  flex: 1;
  font-weight: bold;
  flex-basis: auto;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 1rem;
  /* background: red; */
  /* ali: center; */
}

  /* justify-content: */


/* .userProfileRest button {
  align-self: flex-end;
} */

/* Posts list */

.post h2 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.game-excerpt {
  padding: 0.25rem 0.25rem;
  border: 1px solid rgb(177, 174, 174);
  border-radius: 7px;
  background: var(--app-color-lightest);
}

.games-list .game-excerpt + .game-excerpt {
  margin-top: 0.5rem;
}

section.games-list {
  margin-top: 1rem;
}

.posts-container.disabled {
  opacity: 0.5;
}

.game-excerpt h5 {
  margin: 0.5rem;
  font-size: 1.1rem;
}

p.game-content {
  margin-top: 0px;
  display: block;
}

.game-attributes {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.game-attributes .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.game-attributes .column {
  /* display: flex; */
  flex-direction: column;
  /* background: chocolate; */
  flex-basis: 100%;
  flex: 1;
}

.game-attributes .detailColumn {
  /* background: greenyellow; */
  align-self: center;
}


.game-attributes p {
  margin: 0px;
  margin-left: 10px;
}

.game-attributes button {
  vertical-align: center;
}

.game-attributes p span {
  margin-right: 10px;
}

.button {
  display: inline-block;
  background: #d21919;
  color: white;
  border-radius: 4px;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  vertical-align: center;
}

button:disabled,
button:disabled:hover {
  opacity: 0.5;
}

button.reaction-button {
  border: 1px solid #e0e3e9;
  padding: 5px 10px;
  margin: 5px 6px 10px;
  border-radius: 4px;
  white-space: nowrap;
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner h4 {
  margin: 5px;
}

/* https://projects.lukehaas.me/css-loaders/ , Loader #3 */
.loader {
  font-size: 10px;
  margin: 10px;
  /* text-indent: -9999em; */
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: var(--app-color);
  background: -moz-linear-gradient(
    left,
    var(--app-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    var(--app-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -o-linear-gradient(
    left,
    var(--app-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -ms-linear-gradient(
    left,
    var(--app-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    var(--app-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: var(--app-color);
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Notifications list */

.notification {
  border: 1px solid #eee;
  padding: 0.5rem;
}

.notificationsList .notification + .notification {
  border-top: none;
}

.notification.new {
  background-color: rgba(29, 161, 242, 0.1);
}
