@import url("src/components/Dashboard/dashboard.css");
@import url("src/components/Games/games.css");
@import url("src/components/Auth/auth.css");
@import url("src/components/Athletes/athletes.css");
@import url("src/components/UserProfile/userProfile.css");
@import url("src/components/Groups/groups.css");
@import url("src/components/Spinner/spinner.css");
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');


/* @import '~mdb-ui-kit/css/mdb.min.css'; */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  /* Basic colors */
  --app-color-darker: #3d39b4;
  --app-color-darkest: #002D63;
  --app-color-lightest: #e8e7f8;
  --app-color-bckg: #EBF0F3;
  --app-color-primary-btns: #007bff;
  --app-color-box-headers: 	#dbdbdb;
  
  /* Different top bar sizes */
  --top-bar-std-height: 80px;
  --top-bar-searchbar-height: 170px;
  --top-bar-dashboard-height: 520px;

  /* Grid columns variables */
  --grid-template-columns: [h-window-start] 1fr
                            [menubar-start] minmax(150px,200px)
                            [menubar-end content-start] 30fr
                            [content-end] 1fr
                            [h-window-end];
  --grid-menu-height: 600px;
  --grid-rest-content-height: 400px;

  /* Content boxes parameters */
  --box-content-padding: 10px;

  /* Content layout parameters */
  --main-content-proportion: 75%;
  --right-side-bar-proportion: calc(100% - var(--main-content-proportion) - 1%);
}

body {
  background: var(--app-color-bckg) !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  color: var(--app-color-darkest);
}

/* .container-xxl.fixed { */
  /* position: sticky; */
  /* top: 0; */
/* } */
/* ------------------------------------------------------- */
/* Main grid setup */
 
/* minmax(min-content, max-content) */

  .main-app {
    display: grid;
    grid-template-columns: var(--grid-template-columns)
  }

  .main-app.std {
    grid-template-rows: [header-start] var(--top-bar-std-height) [header-end content-start] var(--grid-menu-height) [menu-end] var(--grid-rest-content-height) [page-end];
  }

  .main-app.search {
    grid-template-rows: [header-start] var(--top-bar-std-height) [header-end content-start] var(--grid-menu-height) [menu-end] var(--grid-rest-content-height) [page-end];
  }

  .main-app.dashboard {
    grid-template-rows: [header-start] var(--top-bar-std-height) [header-end content-start] var(--grid-menu-height) [menu-end] var(--grid-rest-content-height) [page-end];
  }

  .topBar {
    background-color: var(--app-color-darkest);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
  }

  .topBar.std {
    height: var(--top-bar-std-height)
  }

  .topBar.search {
    height: var(--top-bar-searchbar-height)
  }

  .topBar.dashboard {
    height: var(--top-bar-dashboard-height)
  }

  .rounded {
    border-radius: 10px;
  }

  .padded {
    padding: 10px;
  }

  .item.one {
    grid-area: header-start / menubar-end / header-end / content-end;
    z-index: 1;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: sticky;
    /* top: 0px; */
    /* background-color: yellow; */
    margin: 0px 0px 0px 10px;
  }

  /* .header-row {
    grid-area: header-start / menubar-end
  } */

  .item.two {
    grid-area: header-start / menubar-start / menu-end / menubar-end;
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    /* position: sticky; */
  }

  /* For fixed position of left menubar */
  /* .item.two.special {
    position: sticky;
    top: 20px;
  } */

  .item {
    /* border: 10px solid #b0c5ff; */
    /* background-image: linear-gradient(224deg, #b0c5ff 0%, #26145f 100%); */
    background-color: var(--app-color-darkest);
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 20px;
    /* font-size: 35px; */
    /* font-family: 'Inter', sans-serif; */
    color: #b0c5ff;
  }

  .item.special {
    /* background-image: linear-gradient(224deg, #ff657a 0%, #4f0b14 100%); */
    background-color: var(--app-color-primary-btns);
    border: 1px solid black rounded;
    border-radius: 10px;
    padding-top: 5px;
    align-items: flex-start;
    color: white;
  }

  .sidebar-brand {
    flex: 1;
    align-self: center;
  }

  .sidebar-brand h2 {
    display: inline-block;
    margin-right: 0.5rem;
  }

  .sidebar-menu {
    flex: 12;
    align-self: center;
  }

  .main-content {
    grid-area: header-end / menubar-end / footer-end / content-end;
    margin: 10px 0px 0px 10px;
    z-index: 0;
    color: #002D63;
  }


/* Main grid setup end */
/* ------------------------------------------------------- */

/* Header styles */

.pageHeader {
  font-weight: bold;
  color: white;
  font-size: 24pt;
  /* flex: 11; */
  justify-content: space-between;
  /* backgroundColor: 'red';*/
}

.pageHeader.with-icon .backIcon {
  color: white;
}

.pageHeader.with-icon .backIcon:hover {
  color: var(--app-color-primary-btns);
}

.pageHeader-userSection {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  justify-content: space-between;
  flex: 7;
  color: white;
}

/* .pageHeader:hover { */
  /* color: red; */
/* } */

/* heading:hover {
  color: var(--app-color-primary-btns);
} */

.changeColor:hover {
  color: red;
}

.content-header {
  color: white;
  /* flex: 3; */
  /* // backgroundColor: 'aqua'; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
}

.userProfileToken {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.unverifiedUserReport {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 11pt;
}

/* .userProfileToken #dropdown-split-variants-primary{ */
  /* background-color: red; */
/* } */

/* .btn-userBadge .btn-fill { */
  /* background-color: yellow; */
  /* color: red; */
/* } */
/* Header styles end */
/* ------------------------------------------------------- */

/* ------------------------------------------------------- */
/* Content container and boxes generic styles */

  .content-container {
    display: flex;
    flex-flow: column;
    height: 100%;
    /* background-color: green; */
  }

  .content-container .content-row {
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .content-inner-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
  }

  .content-inner-row {
    flex-direction: column;
    padding: 10px;
  }

  .box-header {
    height: 40px;
    background-color: var(--app-color-box-headers);
    font-weight: bolder;
    font-size: 20pt;
  }

  .content-inner-row.heading {
    height: 50px;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    justify-content: center;
    background-color: var(--app-color-box-headers);
    display: flex;
  }

  .content-inner-row.heading h4 {
    margin-bottom: 0px;
    margin-left: 0.5rem;
    font-weight: bolder;
  }

  .content-inner-row.data {
    flex: 1 0 auto;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
  }

  .bottomRadius {
    border-radius: 0px 0px 10px 10px;
  }

  .fixed-size {
    flex: 1 0 auto;
  }
/* Content boxes styles end */
/* ------------------------------------------------------- */


/* Search screens layout */
/* ------------------------------------------------------- */

  .content-row.searchBar {
    height: calc((var(--top-bar-searchbar-height) - var(--top-bar-std-height)) * 0.75);
    background-color: white;
    padding: var(--box-content-padding);
    align-items: center;
    margin-bottom: 25px;
  }

  .content-row.columns {
    display: flex;
    flex-flow: row;
    height: 100%;
    justify-content: space-between;
  }

  /* Search page content layout */

    .leftContentColumn {
      width: var(--main-content-proportion);
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      margin-right: 10px;
      /* background-color: #007bff; */
    }

    .rightContentColumn {
      width: var(--right-side-bar-proportion);
      position: sticky;
      /* order: 1; */
      /* height: 100%; */
      /* background-color: red; */
    }

    .titleRow {
      height: 50px;
      background-color: white;
      border-radius: 10px;
      margin-bottom: 10px;
      padding: var(--box-content-padding);
    }

    .rightColumn.with-btn {
      display: flex;
      justify-content: flex-start;
      flex-flow: column;
      border-radius: 10px;
      height: 70%;
    }

    .addBtnSection {
      display: flex;
      flex-flow: row;
      height: 50px;
      justify-content: flex-end;
      margin-bottom: 10px;
    }

    .content {
      flex: 10;
      background-color: white;
      border-radius: 10px;
      padding: var(--box-content-padding);
      min-width: fit-content;
    }

    .content-inner-box.filters {
      height: 600px;
    }

/* Search screens layout end */
/* ------------------------------------------------------- */


.form-group {
  margin-bottom: 1rem;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

label {
  margin-bottom: 0.5rem;
}

.navbar-blue {
  background-color: #002D63;
  box-shadow: 0px 14px 160px rgba(34, 35, 58, 0.2);
  height: 80px;
}

.navbar-brand h1 {
  color: white;
  margin-bottom: 0px;
}

.nav-item a {
  color: white;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  align-items: center;
  margin-top: 100px;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  /* align-self: center; */
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.form-group label {
  color: #969696;
}

.formInputError {
    margin-top: 0.5rem;
    font-weight: bold;
    color: red;
}

/* List pages styles */


.bottomBorder {
  border-bottom: 1px solid var(--app-color-bckg);
}

 .itemInList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid darkgray;
  margin-bottom: 10px;
  padding: 10px;
}

.itemInList-col.profilePhoto{
  min-width: 50px;
  /* background-color: brown; */
  flex: 1;
}

.itemInList-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8rem;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.athleteBadge-wrapper {
  border-radius: 40px;
  /* border-color: red; */
  /* border: 2px; */
  width: 140px;
  min-width: 140px;
  height: 45px;
  min-height: 45px;
  font-size: 0.8rem;
  background-color: #F7F9FB;
  /* max-width: 140px; */
}

.athleteBadge-wrapper.removable {
  width: 155px;
}

.athleteBadge-wrapper.regNonRegLabel {
  background-color: white;
  border-radius: none;
  color: darkgray;
  font-weight: bold;
}

.athleteBadge-athleteName {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-input-label.flex-none {
  flex: none;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8
}
