/* NewGame styles */

:root {
    --newGame-basic-info-size: 700px;
    --newGame-players-basic-size: 500px;
}

.content-row.newGame-basics {
    /* flex: 0; */
    min-height: var(--newGame-basic-info-size);
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    justify-content: space-between;
}

.newGame-section {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-row.newGame-attendees {
    /* flex: 1 0 auto; */
    /* height: var(--newGame-players-basic-size); */
    /* min-height: var(--newGame-players-basic-size); */
    margin-top: 10px;
    /* background-color: yellow; */
    justify-content: space-between;
}

.main {
    width: var(--main-content-proportion);
}

.side {
    width: var(--right-side-bar-proportion)
}

.newGame-helpers {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.newGame-recentlyOrganized {
    height: calc((var(--newGame-basic-info-size) - 50px)/2 - 5px);
    margin-bottom: 10px;
    /* background-color: blueviolet; */
}

.newGame-financialEstimate {
    height: calc((var(--newGame-basic-info-size) - 50px)/2 - 5px);
    /* background-color: red; */
}

.newGame-attendees {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.players {
    background-color: yellow;
}

.content-row.newGame-attendees.goalies, .content-row.newGame-attendees.referees {
    min-height: 300px;
}

/* .content-row.updateBtnRow {
    height: 100px;
} */

.content-row.newGame-addGame {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.cssa {
    max-width: 50%;
}

.addGame-buttonPart {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.newGame-helpers.availableGroups{
    margin-top: 50px;
    /* height: calc((var(--newGame-basic-info-size) - 50px)/2 - 5px); */
}

.content-inner-row.heading.helper {
    background-color: white;
    color: #A4A4A9;
    font-weight: bolder;
}

.content-inner-row.data.helper {
    background-color: #F5F6F6;
    color: darkgray;
}

.bottom-border{
    /* flex: 1; */
    border-bottom: 1px solid var(--app-color-box-headers);
}


.newGame-basicInfo-col.flexStart {
    justify-content: flex-start;
}

.input-group.width-40 {
    width: 40%;
}

.dateForm input{
    max-width: 160px;
}

.newGame-basicInfo-row.last {
    border-bottom: 0px;
    flex: 1;
}

.newGame-basicInfo-row.last.subRow {
    border-bottom: 0px;
    height: 48%;

}

.newGame-basicInfo-row.last.subRow.pucks {
    justify-content: center;

}

.noFormLabel {
    color: darkgray;
}

.newGame-basicInfo-row.detailed {
    border-bottom: 0px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.newGame-basicInfo-row.detailed.input {
    width: 46%;
    height: 100%;
}

.player-split-upper {
    min-height: 200px;
}

.player-split-upper.goalieRefs {
    min-height: 80px;
}

.player-split-lower {
    min-height: 80px;
}

.remarksFlex {
    flex: 1 0 auto;
}

.form-group.no-mb {
    margin-bottom: 0px;
}

.playerContent {
    flex: 1 0 auto;
    /* max-width: 88%; */
}

.playerBadges {
    flex: 1 0 auto;
}

.form-input-flex.horizontal {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 33%;
}

label.form-input-label {
    flex: 1;
    margin-bottom: 5px;
    color: darkgrey;
}

.form-input-input {
    flex: 3;
}

.newGame-basicInfo-estPlayerCntFlex {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

input.form-control.shadow.short {
    width: 62px;
}

input.form-control.shadow.shorter {
    width: 90px;
}

.flex-hCenter {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
}

.reduceToHalfFlex {
    width: 50%;
}

 .columnCenterFlex {
     display: flex;
     flex-flow: column;
     justify-content: center;
 }

 .flexExpand {
     flex: 1 0 auto;
 }

 .content-right {
    text-align: right;
 }

 .content-center {
     text-align: center;
 }

.titleRow.games {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.itemInList-col.nameAndExpSkill {
    align-items: flex-start;
    flex: 3;
    min-width: 190px;
    font-size: 0.85rem;
    font-weight: bold;
}

.itemInList-col.dateTimeLoc {
    display: flex;
    flex: 5;
    flex-flow: column;
    justify-content: space-evenly;
    /* color: #002D63; */
}

.itemInList-col.dateTimeLoc-row {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    margin: 0px;
    width: 100%;
}

.itemInList-col.dateTimeLoc-row.icon {   
    margin-right: 0.1rem;
    flex: 1
}

.itemInList-col.dateTimeLoc-row.text {
    flex: 10
}

.gameLocation {
    justify-content: flex-start;
    align-items: center;
}

.itemInList-attendanceRow {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

.itemInList-col.attendance {
    display: flex;
    flex-flow: row;
    flex: 5;
    min-width: 140px;
}

.itemInList-col.attendanceCnt {
    width: 40%;
}

.itemInList-col.attendanceRoleIcon {
    width: 10%;
}

.itemInList-col.attendanceMoney {
    width: 50%;
}

.itemInList-col.expSkillAndOrg {
    display: flex;
    flex-flow: row;
}

.itemInList-col.expSkill {
    flex: 6;
    display: flex;
    flex-flow: row;
}

.itemInList-col.org {
    color: var(--app-color-primary-btns);
    flex: 1
}

.itemInList-col.attendanceStatus {
    color: var(--app-color-primary-btns);
    min-width: 80px;
    flex: 2;
    min-height: 100%;
}

.gameListAttending {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--app-color-darkest);
}

.gameListAttending-description {
    font-weight: bold;
    font-size: 1.0rem;
    flex: 1;
}

.gameListAttending-statusIcon {
    flex: 2;
}

.itemInList-col.detailArrow {
    flex:1;
}

.itemInList-col.detailArrow:hover {
    color: var(--app-color-darkest);
}

.itemInList-col a {
    text-decoration: none;
    font-weight: bold;
    color: var(--app-color-primary-btns);
}

.itemInList-col a:hover {
    text-decoration: underline;
}

.paymentRecord {
    color: red;
}

.renumRecord {
    color: green;
}

.attendingDesc {
    color: black;
    font-weight: bold;
}

.gameDetail.attendanceStatus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 80px;
}

.pageHeader-userSection .gameListAttending {
    color: white;
    background-color: green;
    border-radius: 10px;
}

.pageHeader-userSection svg {
    color: white;
}

/* Game detail styles */

.gameDetail-basicInfo {
    font-size: 0.9rem;
}

.gameDetail-basicInfo-timeDateRemarks {
    border-bottom: 1px solid darkgray;
    padding-bottom: 10px;
}

.gameDetail-attendees {
    width: 59%;
}

.gameDetail-chat {
    width: 40%;
}

.gameDetail-chatContent {
    max-height: 850px;
    height: 100%;
}

.gameDetail-chat-box {
    padding-bottom: 10px;
    overflow-y: auto;
}

.gameDetail-attendeesContent {
    max-height: 850px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.gameDetail-players-box {
    padding-bottom: 20px;
    overflow-y: auto;
}

.gameDetail-attendance-players {
    min-height: 450px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}


.gameDetail-basicInfo-orgDetails {
    flex: 7;
    height: 100px;
    max-height: 140px;
}

.gameDetail-basicInfo-remarksContent {
    min-height: 80px;
    max-height: 130px;
    overflow-y: auto;
}


.gameDetail-attendeeCntDesc {
    font-size: 1.8rem;
    color: darkgray;
    font-weight: bold;
    text-align: center;
}


.gameDetail-attendance-goaliesReferees {
    min-height: 250px;
    padding-bottom: 10px;
    overflow-y: auto;
}

.gameDetail-attendeeHeading {
    font-weight: bold;
    font-size: 0.9;
    color: darkgray
}